* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(to right, #c33764, #1d2671); */
  background: linear-gradient(245deg, #000000 0%, #fdff96 100%),
    linear-gradient(245deg, #0038ff 0%, #000000 100%),
    radial-gradient(100% 225% at 100% 0%, #4200ff 0%, #001169 100%),
    linear-gradient(245deg, #000000 0%, #ffb800 100%),
    radial-gradient(
      115% 107% at 40% 100%,
      #eaf5ff 0%,
      #eaf5ff 40%,
      #a9c6de calc(40% + 1px),
      #a9c6de 70%,
      #247e6c calc(70% + 2px),
      #247e6c 85%,
      #e4c666 calc(85% + 2px),
      #e4c666 100%
    ),
    linear-gradient(
      65deg,
      #083836 0%,
      #083836 40%,
      #66d37e calc(40% + 1px),
      #66d37e 60%,
      #c6e872 calc(60% + 1px),
      #c6e872 100%
    );
  background-blend-mode: overlay, screen, overlay, hard-light, overlay, normal;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
table {
  position: relative;
  height: calc(100vh - 37px);
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}
table th {
  width: 10em;
  padding: 1em;
}
table {
  border-collapse: collapse;
}

tr:nth-of-type(1) > th {
  background-color: orangered;
}
td[colspan] {
  text-align: center;
  font-weight: 700;
  background-color: tranparent;
}

tr:nth-of-type(2) > th,
tr:nth-of-type(3) > th,
tr:nth-of-type(4) > th,
tr:nth-of-type(5) > th,
tr:nth-of-type(6) > th,
tr:nth-of-type(7) > th,
tr:nth-of-type(8) > th {
  background-color: greenyellow;
}
table td {
  transition: all 300ms ease-in-out;
}
table td:hover {
  background-image: linear-gradient(to right, #200122, #6f0000);
  color: white;
  transform: scale(1.1, 1.1);
  /* animation: move 1s forwards; */
}

/* @keyframes move {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
} */
